<!DOCTYPE html>
<html>

<head>
  <title>Fournisseurs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://kit.fontawesome.com/f87defdbca.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/go.css">
</head>

<body>




  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><i class="fas fa-shopping-cart text-danger"></i> Stock
      management</a>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/"><i class="fas fa-home fa-2x text-info"></i></a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">
                produits
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rayon">

                Rayons
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Fournisseurs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/caisse">
                <span data-feather="bar-chart-2"></span>
                Caissier
              </a>
            </li>

          </ul>



        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Bienvenue dans le menu des Fournisseurs </h2>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-xl-3 d-flex justify-content-start align-items-center">
                <h1 style="font-size: 30px">Fournisseurs</h1>
            </div>
            <div class="col-12 col-md-12 col-xl-6 d-flex justify-content-start align-items-center">
                <div class="search">
                   <input type="search" class="searchTerm" onkeyup="myFunction()" id="myInput" placeholder="What are you looking for?">
                   <button type="submit" class="searchButton">
                     <i class="fa fa-search"></i>
                  </button>
                </div>
           
            </div>
            <div class="col-12 col-md-12 col-xl-3">
              <div class="button d-flex justify-content-center">
                <a href="/addFournisseur"><span>Ajoute</span></a>
              </div>
            </div>
          </div>
        </div>
           <br>
           <br>
        










        <table class="table" id="myTable">
          <thead class="thead" style="background-color: #203c6b">
            <tr>
              <th scope="col" style="color: white">#</th>
              <th scope="col" style="color: white">Fournisseur</th>
              <th scope="col" style="color: white">Société</th>
              <th scope="col" style="color: white">Address</th>
              <th scope="col" style="color: white">Tel</th>
              <th scope="col" style="color: white">Email</th>
              <th scope="col" style="width: 300px;color: white">CRUD</th>
            </tr>
          </thead>
         
          <tbody>
           
           <% for(fr of frs){%>
            <tr>
              <th scope="row"><%= fr.Frs_id%></th>
              <td><%=fr.Frs_name%></td>
              <td><%=fr.Société%></td>
              <td><%=fr.Address%></td>
              <td>+212<%=fr.Tel%></td>
              <td><%=fr.Email%></td>
              <td>
               
                  <a href="editfr/<%= fr.Frs_id %>" class="btn btn-success">EDITE</a>
                  <a href="deletefr/<%= fr.Frs_id %>"  class="btn btn-danger">DELETE</a>
               
              </td>
            </tr>
             <% } %>
          </tbody>
          
        </table>

      </main>
    </div>
  </div>

       
      
  
  <script>



 
    

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



</body>

</html>
